<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="'/home'"></ion-back-button>
    </ion-buttons>
    <ion-title>Iris Species</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Inference</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="formGroup">
        <ion-item>
          <ion-label position="fixed">Photo</ion-label>
          <ion-img
            [src]="formGroup.get('imgAsBase64')?.value || undefined"
          ></ion-img>
        </ion-item>
        <ion-item>
          <ion-input
            type="number"
            formControlName="label"
            [readonly]="true"
            [label]="'Label'"
            [labelPlacement]="'stacked'"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-input
            type="number"
            formControlName="time"
            [readonly]="true"
            [label]="'Time (ms)'"
            [labelPlacement]="'stacked'"
          ></ion-input>
        </ion-item>
      </form>
      <ion-button (click)="pickImage()">Pick Image</ion-button>
      <ion-button
        (click)="runInference()"
        [disabled]="!formGroup.get('imgAsBase64')?.value"
        >Run Inference</ion-button
      >
    </ion-card-content>
  </ion-card>
</ion-content>
